
body {
    text-align: center;
}

#top {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
}

#hslink {
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: blueviolet;
}

#timer {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    color: red;
}

main {
    width: 65%;
    margin: auto;
    margin-top: 10%;
    font-size: 40px;
    font-family: sans-serif;
}

main h2 {
    font-size: 40px;
    font-family: sans-serif;
}

main p {
    font-size: 18px;
}

main button {
    color: white;
    background-color: blueviolet;
    font-size: 20px;
    padding: 10px;
}

main button:hover {
    background-color: rgb(183, 122, 236);
}

li {
    text-align: center;
    width: 20%;
    list-style: none;
    background-color: blueviolet;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    color: white;
    margin-left: 35%;
}

li:hover {
    background-color: rgb(183, 122, 236);
}

label {
    font-size: 18px;
}

#subDiv {
    margin-bottom: 20px;
}

#subDiv button {
    padding: 2px;
    margin-left: 5px;
}